<!DOCTYPE html>
<html>
    <head>
        <title>Colorbreaker</title>
        <link rel="stylesheet" type="text/css" href="styles/styles.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    </head>
    <body ng-app="colorbreaker">
        <div class="main-body" ng-controller="gameController" ng-class="{'victory': victory}">
            <div class="screen-center">
                <div class="row-wrapper">
                    <div class="color-row palette-row ng-cloak" ng-show="activePin">
                        <div class="color-box"></div>
                        <div class="color-box palette">
                            <div class="palette-color" ng-class="'{{color + '-palette-color'}}'" ng-repeat="color in colors" ng-click="selectColor(color)"></div>
                            
                        </div>
                        <div class="color-box"></div>
                    </div>
                    <div class="color-row" ng-repeat="(index, row) in rows | orderBy:index:true">
                        <div class="color-box">
                            <a class="info-icon" ng-click="showHelpModal()" href="javascript:;" ng-if="rows.length === 1">i</a>
                        </div>
                        <div class="color-box" ng-repeat="pin in row.pins">
                            <div class="color-pin" ng-class="getPinClass(pin)" ng-click="index === 0 && pinClicked(pin)"></div>
                        </div>
                        <div class="color-box feedback-box">
                            <a href="javascript:;" ng-show="lastRowIsFilled() && index === 0 && !victory" class="btn-feedback ng-cloak" ng-click="giveFeedback()">&#10003;</a>
                            <div class="feedback-pin" ng-repeat="feedbackPin in row.feedback track by $index" ng-class="getFeedbackPinClass(feedbackPin)"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-backdrop ng-cloak" ng-show="victory || showHelp">
                <div class="modal-window" ng-show="victory">
                    <h2>Congratulations, you won!</h2>
                    <span class="victory-message-tries">Number of tries: {{rows.length}}</span>
                    <button ng-click="play()">&#8635;&nbsp;Play again</button>
                </div>
                <div class="modal-window" ng-show="showHelp">
                    <h2>Rules of the game</h2>
                    <p>
                        The purpose of the game is to find the hidden combination of colors.
                        After filling a row with colors, feedback is provided, in the form of
                        black and white circles to the right of the row.
                    </p>
                    <p>
                        Each <b>black</b> dot means that a color in the row <b>exists</b> in 
                        the hidden combination and it's <b>in the correct position</b>.
                    <p>
                    </p>
                    <p>
                        Each <b>white</b> dot means that a color <b>exists</b> in the hidden
                        combination but it's <b>not in the correct position</b>.
                    </p>
                    <button ng-click="showHelp = false">Got it!</button>
                </div>
            </div>
        </div>
        <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="/js/app.js"></script>
        <script type="text/javascript" src="/js/controllers/gameController.js"></script>
    </body>
</html>